@use '../../../styles/variables' as *;
@import '../../../styles/mixins';

%buttons {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: $borderRadius;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 400px;

  @include mobile {
    margin: 0 10px;
    gap: 10px;
  }
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
  min-height: $minHeight;
  
  h1 {
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-position: under;

    @include mobile {
      margin-bottom: 5px;
    }
  }
}

.options {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @include mobile {
    gap: 10px;
  }
}

.buttons {
  @extend %buttons;
  margin-top: 20px;
}

.buttonsFixed {
  @extend %buttons;
  position: fixed;
  z-index: 3;
  bottom: 10px;
}