@use '../../styles/variables' as *;

%cardSize {
  width: 250px;
  height: 350px;
}

%option {
  border-radius: $borderRadius;
  padding: 5px 5px 5px 15px;
  
  &:hover {
    cursor: pointer;
  }
}

.card {
  @extend %cardSize;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  img {
    @extend %cardSize;
    position: absolute;
    top: 0;
    opacity: 0.8;
    z-index: -1;
    border-radius: $borderRadius;
  }
}

.options {
  background-color: rgb(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-radius: $borderRadius;
  padding: 10px;
  gap: 5px;

  h3 {
    text-align: center;
  }
}

.optionChecked {
  @extend %option;
  background-color: green;
  color: white;
}

.option {
  @extend %option;
  
  &:hover {
    background-color: rgb(0, 128, 0, 0.5);
    color: white;
  }
}