@use '../../styles/variables' as *;
@import '../../styles/mixins';

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  min-height: $minHeight;
  
  h1 {
    margin-bottom: 20px;

    @include mobile {
      margin-bottom: 10px;
    }
  }
}

.options {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

  @include mobile {
    gap: 10px;
  }
}