@use '../../styles/variables' as *;
@import '../../styles/mixins';

%link {
  text-decoration: none;
  padding: 15px;
  border-radius: $borderRadius;
  width: 120px;
  text-align: center;
  color: black;

  &:hover {
    background-color: black;
    color: white;
  }

  &:visited {
    color: black;
  }

  &:visited:hover {
    color: white;
  }  
    
  @include mobile {
    width: 70px;
    padding: 10px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;

  img {
    width: 200px;
    height: 50px;

    &:hover {
      cursor: pointer;
    }
  }  
    
  @include mobile {
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;    
    
    @include mobile {
      gap: 0;
      justify-content: space-evenly;
      min-width: 270px;
    }
  }
}

.link {
  @extend %link;
}

.linkActive {
  @extend %link;
  text-decoration: underline;
}