@use '../../styles/variables' as *;

%buttons {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: $borderRadius;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
  min-height: $minHeight;
}

.options {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.buttons {
  @extend %buttons;
  margin-top: 20px;
}

.buttonsFixed {
  @extend %buttons;
  position: fixed;
  z-index: 3;
  bottom: 10px;
}