@use '../../styles/variables' as *;
@import '../../styles/mixins';

%card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;

  &:hover {
    cursor: pointer;
  }
  
  @include mobile {
    width: 130px;
    gap: 5px;
  }

  .image {
    width: 200px;
    height: 280px;
    position: relative;
    transition: transform ease-in-out 500ms;

    @include mobile {
      width: 130px;
      height: 200px;
    }
  }

  &:hover .image{
    transform: scale(1.1);
  }

  .text {
    width: 200px;
    text-align: center;

    @include mobile {
      width: 130px;
    }
  }
}

.card {
  @extend %card;
  .image>img {
    opacity: 0.5;
    border-radius: $borderRadius;
  }
}

.checkedCard {
  @extend %card;
  .image>img {
    opacity: 1;
    border-radius: $borderRadius;
  }
}