@use '../../styles/variables' as *;

%card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 200px;

  &:hover {
    cursor: pointer;
  }

  .image {
    width: 200px;
    height: 280px;
    border-radius: $borderRadius;
    position: relative;
    transition: transform ease-in-out 500ms;
  }

  &:hover .image{
    transform: scale(1.1);
  }

  .text {
    width: 200px;
    text-align: center
  }
}

.card {
  @extend %card;
  .image>img {
    opacity: 0.5;
  }
}

.checkedCard {
  @extend %card;
  .image>img {
    opacity: 1;
  }
}