@import '../../styles/mixins';

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: center;

  @include mobile {
    gap: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: left;
  }
}

.feature {
  display: flex;
  align-items: center;
  gap: 5px;
  max-width: 85vw;

  img {
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
  }

  p {
    font-size: 14px;
  }
}