.footer {
  display: flex;
  gap: 200px;
  padding: 20px 50px;
  background-color: black;

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:visited {
      color: white;
    }
  }

  p {
    color: white;
    width: 300px;
  }
}