@import '../../styles/mixins';

%link {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: white;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  background-color: black;

  @include mobile {
    gap: 10px;
  }
}

.content {
  display: flex;
  gap: 200px;

  @include mobile {
    gap: 20px;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
    min-width: 70px;
  }
}

.link {
  @extend %link;
}

.textContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 20px;
}

.text {
  color: white;
  max-width: 300px;
  margin-bottom: 20px;
}

.myLink {
  @extend %link;
  align-self: center;

  &:last-of-type {
    margin-top: -10px;
  }
}