@use '../../../styles/variables' as *;
@import '../../../styles/mixins';

.main {
  min-height: $minHeight;
  margin: 30px 0;
  
  h1 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;

    @include mobile {
      margin-bottom: 5px;
    }
  }
}

.rules {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

  h2 {
    text-align: center;
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  width: 260px;
  padding: 20px;
  border: 1px solid black;
  border-radius: $borderRadius;
  transition: transform ease-in-out 500ms;
  position: relative;

  &:hover {
    background-color: black;
    color: white;
    transform: translate(20px);
  }

  @include mobile {
    width: 220px;

    &:hover {
      transform: none;
      background-color: white;
      color: black;
    }
  }
}