@use '../../styles/variables' as *;
@import '../../styles/mixins';

.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.result {
  padding: 40px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  @include mobile {
    padding: 15px;
    padding-bottom: 10px;
    margin: 0 5px;
  }
}

.images {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;

  img {
    border-radius: $borderRadius;
  }

  @include mobile {
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;

  hr {
    width: 100%;
    margin: -3px 0;
  }

  p {
    font-size: 14px;
    max-height: 24px;

    @include mobile {
      max-width: 25vw;
      text-align: center;
      font-size: 10px;
      max-height: 24px;
    }
  }
}

.image {
  width: 150px;
  height: 230px;
  position: relative;

  @include mobile {
    width: 25vw;
    height: 35vw;
  }
}

.map {
  width: 350px;
  height: 200px;
  position: relative;

  @include mobile {
    width: 250px;
    height: 125px;
  }
}

.vs {
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
  margin-top: -20px;

  @include mobile {
   font-size: 10px;
  }
}

.map {
  align-self: center;
}

.battlefield {
  text-align: center;
  margin-top: 10px;
}

.buttons {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  border: 1px solid black;
  padding: 20px;
  border-radius: $borderRadius;
  margin-top: 15px;
  max-width: 90vw;

  @include mobile {
    gap: 10px; 
   padding: 10px;
   justify-content: center;
  }
}