.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.3);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 400px;
  height: 250px;
  padding: 50px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

.buttons {
  align-self: center;
  display: flex;
  gap: 30px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
}