@use '../../styles/variables' as *;

.container {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(128, 128, 128, 0.5);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  padding: 40px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
}

.images {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;

  img {
    border-radius: $borderRadius;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.vs {
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
}

.battlefield {
  text-align: center;
}

.buttons {
  align-self: center;
  display: flex;
  gap: 30px;
  border: 1px solid black;
  padding: 20px;
  border-radius: $borderRadius;
  margin-top: 15px;
}